@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

section{
    border: 0px solid black;
    border-radius: 10px;
    width: 850px;
    display: flex;
    flex-direction: row;
    height: auto;
    overflow: hidden;
    
}

#card1{
    padding: 30px 60px;
    background-color: hsl(31, 77%, 52%);
}

#card2{
    padding: 30px 60px;
    background-color: hsl(184, 100%, 22%);
}

#card3{
    padding: 30px 60px;
    background-color: hsl(179, 100%, 13%);
}

h2{
    text-transform: uppercase;
    font-family: big Shoulders display;
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin: 30px 0px;
}

p{
    font-family: Lexend Deca;
    font-weight: 400;
    color: white;
    font-size: 14px;
    line-height: 1.5em;
}

button {
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    font-family: Lexend Deca;
}

button:hover{
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
}

#card1 button {
    color: hsl(31, 77%, 52%);
}
#card2 button {
    color: hsl(184, 100%, 22%);
}
#card3 button {
    color: hsl(179, 100%, 13%);
}

#card1 button:hover, #card2 button:hover, #card3 button:hover{
    color: white;
}

@media screen and (max-width:650px) {
    body{
    overflow: scroll;
    height: fit-content;
    }
    
    section {
        flex-direction: column;
    }
}